
.modal-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-container img{
    width: 40%;
    height: 80vh;
    display: inline-block;
}

.modal-content{
    display: inline-block;
    width: 59%;
    text-align: left;
    vertical-align: top;
}

.modal-header h3{
    font-size: 3rem;
    padding: 10px;
    font-family: 'Zen Dots', cursive;
}

.modal-body p{
    font-size: 1.5rem;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 5px;
}

.btn-close-modal{
    position: relative;
    width: 20%;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 1px black;
}

.selector {
    position: relative;
    width: 300px;
    height: 300px;
    left: -50px;
    display: hidden;
}

.page-body{
    background-image: url("../img/chain.png"); 
}

.card{
    width: 205px;
    height: 444px;
    background-color: white;
    box-shadow: 10px 10px 10px grey, -10px -10px 10px grey;
}

.card:hover{
    background-color: rgb(251, 255, 4);
    transform: scale(1.1, 1.1);
    cursor: zoom-in;
    
}


.card:hover::before{
    content: url("../img/light.png");
    position: absolute;
    left: -38%;
    top: -10%;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

.modal-container img:hover::before{
    content: url("../img/light.png");
    position: absolute;
    left: -38%;
    top: -10%;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
    
}

.card-table{
    height: 10%;
}


.card-image{
    width: 100%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 65px;
    padding: 30px 151px;
    align-content: space-around;
    justify-content: center;
}

.grid-item{
    padding: 2%;
}



.header-text{
    z-index: 2;
    top: 5%;
    position: relative;
    top: -208px;
}



.cabecalho{
    text-align: center;
    background-image: url(../img/bg.jpg);
    z-index: 0;
    position: relative;
    width: 1340px;
    height: 264px;

}

.mask{
    width: 300px;
    height: 200px;
    position: relative;
    top: auto;
    left: auto;
    margin: 2% 0;
    text-align: center;
    z-index: 1;
    opacity: 0.3;
}

.filtrar:hover{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.modal.active{
	transform: translate(-50%, -50%) scale(1);
}

.modal-header .title{
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body{
	padding: 10px;
	font-family: 'Orbitron', sans-serif;
}

.p-modal{
	color: black;
	font-family: 'Inter', sans-serif;
}


.cabecalho h4{
    font-size: 100px;
    font-family: 'Teko', sans-serif; 
    color: #F6F54D;
    text-shadow: -3px -3px #ff0000; 
}

.cabecalho p{
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    color: #F6F54D;
    text-shadow: -3px -3px red;
}


/* 
font-family: 'Orbitron', sans-serif;
font-family: 'Teko', sans-serif; 
font-family: 'Lexend', sans-serif;
font-family: 'Zen Dots', cursive;
*/
